/* container */
#chatGptTalkContainer {
    position: absolute;
    right: 0;
    z-index: 99999;
}

/* playing actions */
#chatGptTalkPlayingActions {
    display: none;
}
#chatGptTalkContainer.reading #chatGptTalkPlayingActions {
    display: flex;
    align-items: center;
    gap: 8px;
}
#chatGptTalkVoicesSelect {
    width: 120px;
    height: 15px;
    font-size: 10px;
    opacity: 0.5;
}
#chatGptTalkStopButton {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: rgb(220, 0, 60);
    border-radius: 99px;
}

/* paragraphs */
.prose p {
    padding: 4px 16px;
}
.prose p.markedToBeRead {
    /* border:  2px dotted red; */
    background-color: rgba(0,0,0, 0.3);
    border-radius: 4px;
}
.prose p.read {
    /* border:  2px dotted red; */
    background-color: rgba(0,0,0, 0.5);
    border-radius: 4px;
}